//--------------------------------------------------------------
// 로그인 서버 옵션
//--------------------------------------------------------------
LOGIN_SERVER
{
	/* 인코딩 사용 여부 (1 사용 / 0 미사용) */
	bUseEncode = 1
	
	/* TCP 센드 버퍼 끄기 (1 끄기 / 0 켜기) */
	bUseSO_SNDBUF = 1

	/* TCP NODELAY 끄기 (1 끄기 / 0 켜기) */
	bUseTCP_NODELAY = 0

	/* 최대 세션 수(로그인 대기자 수) */
	iMaxConcurrentUsers = 30000

	/* 최대 유저 수(로그인 수) */
	iMaxUsers = 15000
	
	/* 워커스레드 생성 수 */
	iWorkerThreadCreateCnt = 20
	
	/* 워커스레드 러닝 수 */
	iWorkerThreadRunCnt = 10

	/* 오픈ip */
	openIP = "0.0.0.0"

	/* 포트 */
	port = 7000

	/* 게임서버ip */
	gameIP = "106.245.38.108"
	
	/* 게임서버port */
	gamePort = 6000

	/* 채팅서버ip */
	chatIP = "106.245.38.108"

	/* 채팅서버 더미ip 1*/
	dummyOne = "127.0.0.1"
	
	/* 채팅서버 더미ip 2*/
	dummyTwo = "10.0.1.1"

	/* 채팅서버 더미ip 3*/
	dummyThree = "10.0.2.1"

	/* 채팅서버port */
	chatPort = 6000
}

//--------------------------------------------------------------
// 레디스 서버 옵션(세션 키 저장)
//--------------------------------------------------------------
REDIS_SESSIONKEY
{
	/* Redis ip */
	redisIP = "127.0.0.1"

	/* 포트 */
	redisPort = 1923
}


//--------------------------------------------------------------
// DB 서버 옵션(세션 키 저장)
//--------------------------------------------------------------
DB_MYSQL_ACCOUNTDB
{
	/* Mysql ip */
	mysqlIP = "127.0.0.1"

	/* 포트 */
	mysqlPort = 3306

	/* id */
	mysqlId = "root"

	/* pw */
	mysqlPw = "kato0923!!"
	
	/* schema */
	mysqlSchema = "accountdb"
}

//--------------------------------------------------------------
// DB 서버 옵션(모니터링 로그)
//--------------------------------------------------------------
DB_MYSQL_LOGDB
{
	/* Mysql ip */
	mysqlIP = "127.0.0.1"

	/* 포트 */
	mysqlPort = 3306

	/* id */
	mysqlId = "root"

	/* pw */
	mysqlPw = "kato0923!!"
	
	/* schema */
	mysqlSchema = "logdb"
}

//--------------------------------------------------------------
// 채팅 서버 옵션
//--------------------------------------------------------------
CHAT_SERVER
{
	/* 인코딩 사용 여부 (1 사용 / 0 미사용) */
	bUseEncode = 1
	
	/* TCP 센드 버퍼 끄기 (1 끄기 / 0 켜기) */
	bUseSO_SNDBUF = 1

	/* TCP NODELAY 끄기 (1 끄기 / 0 켜기) */
	bUseTCP_NODELAY = 0

	/* 최대 세션 수(로그인 대기자 수) */
	iMaxConcurrentUsers = 20000

	/* 최대 유저 수(로그인 수) */
	iMaxUsers = 11000
	
	/* 워커스레드 생성 수 */
	iWorkerThreadCreateCnt = 20
	
	/* 워커스레드 러닝 수 */
	iWorkerThreadRunCnt = 10

	/* 오픈ip */
	openIP = "0.0.0.0"

	/* 포트 */
	port = 6000
}

//--------------------------------------------------------------
// 모니터링 서버 옵션 (서버->모니터링 서버는 인코딩 안씀)
//--------------------------------------------------------------
MONITOR_SERVER
{
	/* 인코딩 사용 여부 (1 사용 / 0 미사용) */
	bUseEncode = 1
	
	/* TCP 센드 버퍼 끄기 (1 끄기 / 0 켜기) */
	bUseSO_SNDBUF = 1

	/* TCP NODELAY 끄기 (1 끄기 / 0 켜기) */
	bUseTCP_NODELAY = 0

	/* 최대 서버 세션 수 (일단 서버는 3고정) */
	serveriMaxConcurrentUsers = 8

	/* 최대 클라 세션 수 */
	clientiMaxConcurrentUsers = 10

	/* 최대 클라 연결 수  */
	clientiMaxUsers = 8
	
	/* 서버 워커스레드 생성 수 */
	serveriWorkerThreadCreateCnt = 3
	
	/* 서버 워커스레드 러닝 수 */
	serveriWorkerThreadRunCnt = 2

	/* 클라 워커스레드 생성 수 */
	clientiWorkerThreadCreateCnt = 3
	
	/* 클라 워커스레드 러닝 수 */
	clientiWorkerThreadRunCnt = 2

	/* 서버쪽 오픈ip */
	serverOpenIP = "0.0.0.0"

	/* 서버쪽 포트 */
	serverPort = 8000

	/* 모니터링 클라쪽 오픈ip */
	clientOpenIP = "0.0.0.0"

	/* 모니터링 클라쪽 포트 */
	clientPort = 9000
}

//--------------------------------------------------------------
// 화이트 아이피 리스트 (일단은 최대 20개)
//--------------------------------------------------------------
WHITE_IP_LIST
{
	num = 2
	ipList = [
		(ip = "127.0.0.1")
		(ip = "10.0.1.2")
	]
}