/Core/.vs/
/Core/x64/
/Core/Core/x64/
/Core/Debug/
/Core/Release/
/Core/Core/Debug/
/Core/Core/Release/

/NetLibrary/.vs/
/NetLibrary/x64/
/NetLibrary/NetLibrary/x64/
/NetLibrary/Debug/
/NetLibrary/Release/
/NetLibrary/NetLibrary/Debug/
/NetLibrary/NetLibrary/Release/

/server_ChatServer_Multi/.vs
/server_ChatServer_Multi/ChatSever_Multi.slnLaunch.user
/server_ChatServer_Multi/x64/
/server_ChatServer_Multi/Debug/
/server_ChatServer_Multi/Release/
/server_ChatServer_Multi/ChatServer_Multi/x64
/server_ChatServer_Multi/ChatServer_Multi/Debug
/server_ChatServer_Multi/ChatServer_Multi/Release
/server_ChatServer_Multi/ChatServer_Multi/SYSLOG

/server_LoginServer/.vs
/server_LoginServer/x64/
/server_LoginServer/Debug/
/server_LoginServer/Release/
/server_LoginServer/LoginServer/x64
/server_LoginServer/LoginServer/Debug
/server_LoginServer/LoginServer/Release
/server_LoginServer/LoginServer/SYSLOG

/server_ZoneServerEchoTest/.vs
/server_ZoneServerEchoTest/x64/
/server_ZoneServerEchoTest/Debug/
/server_ZoneServerEchoTest/Release/
/server_ZoneServerEchoTest/ZoneServerEchoTest/x64
/server_ZoneServerEchoTest/ZoneServerEchoTest/Debug
/server_ZoneServerEchoTest/ZoneServerEchoTest/Release
/server_ZoneServerEchoTest/ZoneServerEchoTest/SYSLOG

/server_MonitoringServer/.vs
/server_MonitoringServer/x64
/server_MonitoringServer/Debug
/server_MonitoringServer/Release
/server_MonitoringServer/NetLib/x64
/server_MonitoringServer/NetLib/Debug
/server_MonitoringServer/NetLib/Release
/server_MonitoringServer/NetLib/Log_NetLib